.m-nav {
  display: flex;
}

.m-categories {
  display: flex;
}

.m-categories .a-category {
  margin-left: 6px;
}

.m-bullets {
  display: flex;
}

.m-bullets .a-bullet {
  margin-left: 10px;
}

.m-stars {
  display: flex;
}

.m-stars li {
  margin-left: 4px;
  color: #fbbd61;
  display: inline-block;
}

.m-stars--new-in .a-star {
  font-size: 18px;
  width: 18px;
}

.m-stars--new-in .a-star--disvoted {
  color: #d8d8d8;
}

.m-stars--coming .a-star:not(:first-child) {
  font-size: 14px;
  width: 14px;
}

.m-days {
  display: flex;
}

.m-times {
  display: flex;
}

.m-times li:not(:first-child) {
  margin-left: 9px;
}
