* {
  box-sizing: border-box;
}

.a-logo {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.a-nav-link--active {
  color: #fff;
  position: relative;
}

.a-nav-link--active::after {
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: 0 0 10px 0 #fbbd61;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
}

.a-nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 0.8em;
  padding: 20px 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  border-bottom: 0.5px solid grey;
  position: relative;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  list-style: none;
  visibility: visible !important;
}

.a-nav-link:hover::after {
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-bottom: solid 1.5px;
}

.a-carousel-title {
  display: none;
}

.a-categories {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fbbd61;
  text-align: left;
  line-height: 1.42857143;
  padding-left: 5px;
}

.a-slider-title {
  font-size: 52px;
  font-weight: 300;
  padding: 0;
  letter-spacing: 3px;
  color: #fff;
  border: none;
  line-height: 1.4em;
  padding-top: 16px;
}

.a-slider-content {
  font-size: 18px;
  color: #fff;
  padding-top: 16px;
}

.a-slider-ages {
  font-size: 13px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 5px;
}

.a-slider-icon {
  color: #fff;
  z-index: 1;
  vertical-align: middle;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;
}

.a-slider-play {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  font-family: "roboto condensed", "sans-serif";
  text-align: center;
  margin: auto;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1.42857143;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.a-bullet--active {
  background-color: #fff !important;
}

.a-bullet {
  border: solid 2px #fff;
  width: 10px;
  height: 10px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.a-new-title {
  font-size: 18px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #ec7532;
  line-height: 1.4em;
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 20px;
  border-bottom: 1px solid #d8d8d8;
  font-weight: 500;
  font-family: inherit;
}

.a-new-title::before {
  display: table;
  content: "";
}

.a-new-title::after {
  position: absolute;
  right: auto;
  bottom: -1px;
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  width: 125px;
  height: 4px;
  display: block;
  margin-top: 16px;
}

.a-new-picture {
  padding-left: 16px;
  padding-top: 16px;
  transition: 0.5s ease-in-out;
  width: 263px;
  height: 340px;
  vertical-align: middle;
  border: 0;
  border-radius: 25px;
}

.a-new-name {
  font-size: 18px;
  color: #4a4a4a;
  padding: 0;
  border-bottom: none;
  line-height: 1.4em;
  font-weight: 500;
  font-family: inherit;
  padding-top: 16px;
  margin: 0 0 10px;
  position: relative;
}

.a-star {
  font-size: 18px;
  width: 18px;
  color: #fbbd61;
  display: inline-block;
  font-family: "Material Icons";
  vertical-align: middle;
}

.a-star-disvoted {
  color: #d8d8d8;
}

.a-schedule-title {
  display: none;
}

.a-date {
  background-color: transparent;
  font-size: 18px;
  padding: 10px 30px 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #4a4a4a;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: all 300ms ease-in-out;
  border-bottom: 0.5px solid grey;
  position: relative;
}

.a-date:hover {
  color: #ec7532;
  position: relative;
  bottom: -1px;
  right: 0;
  left: 0;
}

.a-date:hover::after {
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 3.5px;
  border-bottom: white solid 1.5px;
}

.a-date--active {
  color: #ec7532;
  position: relative;
}

.a-date--active::after {
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 2.5px;
  border-bottom: solid 1.5px;
}

.a-schedule-picture {
  border-radius: 10px;
  max-width: 100%;
  width: 165px;
  height: 213.3px;
  vertical-align: middle;
  border: 0;
  margin-left: 5px;
  padding-bottom: 8px;
}

.a-schedule-categories {
  color: #ec7532;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.a-schedule-name {
  padding: 0;
  border-bottom: none;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #101010;
  line-height: 1.4em;
  font-family: inherit;
  margin-top: 7px;
}

.a-schedule-description {
  font-size: 16px;
  color: #717171;
  padding-top: 8px;
  line-height: 22px;
  margin-bottom: 18px;
}

.a-schedule-link {
  color: #ec7532;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.a-schedule-link::after {
  font-family: "Material Icons";
  font-weight: 700;
  content: "chevron_right";
  text-transform: none;
  position: absolute;
  top: -1px;
}

.a-schedule-link:hover {
  color: black;
}

.a-schedule-icon {
  font-size: 13px;
  vertical-align: middle;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  display: inline-flex;
}

.a-schedule-subtitle {
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #4a4a4a;
  margin-top: 15px;
}

.a-time {
  font-size: 14px;
  padding: 7px 10px;
  letter-spacing: 2px;
  color: #717171;
  border-radius: 5px;
  background-color: #d8d8d8;
  display: inline-block;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  height: 34px;
  padding-top: 9px;
}

.a-time-disabled {
  opacity: 0.5;
}

.a-minutes {
  font-size: 12px;
  text-align: right;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 33.33333333%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 5px;
  color: #717171;
  padding-top: 12px;
}

.a-schedule-ages {
  font-size: 13px;
  font-weight: 700;
  line-height: 33px;
  width: 33px;
  height: 33px;
  text-align: center;
  letter-spacing: 0;
  color: #fff;
  border-radius: 50%;
  background-color: #4a4a4a;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 5px;
}

hr {
  background-color: #d8d8d8;
  opacity: 0.25;
}

.a-coming-head {
  z-index: 1;
  color: #fff;
  border-bottom-color: #333;
  font-size: 18px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  line-height: 1.4em;
  padding: 0 0 20px;
  border-bottom: 1px solid #d8d8d8;
  font-family: inherit;
  font-weight: 500;
  position: relative;
  margin-top: 10px;
}

.a-coming-head::after {
  position: absolute;
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  width: 125px;
  height: 4px;
  display: block;
  right: auto;
  bottom: -1px;
}

.a-coming-categories {
  color: #ec7532;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 8px;
}

.a-coming-title {
  font-size: 34px;
  z-index: 1;
  color: #fff;
  border-bottom-color: #333;
  padding: 0;
  border-bottom: none;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4em;
  font-family: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
}

.a-coming-star {
  font-size: 14px;
  width: 14px;
  display: inline-block;
  color: #fbbd61;
  vertical-align: middle;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
}

.a-coming-star-disvoted {
  font-size: 14px;
  width: 14px;
  display: inline-block;
  color: #d8d8d8;
  vertical-align: middle;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
}

.a-coming-clock {
  font-size: 14px;
  margin-right: 5px;
  color: #fff;
  display: inline-flex;
  vertical-align: middle;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  padding-top: 8px;
}

.a-coming-date {
  font-size: 14px;
  display: inline-block;
  opacity: 0.75;
  color: #fff;
}

.a-coming-description {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
  line-height: 1.42857143;
  margin-top: 20px;
  padding-bottom: 8px;
}

.a-coming-link {
  font-size: 12px;
  position: relative;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ec7532;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.a-coming-link:hover {
  color: #fbbd61;
  text-decoration: none;
}

.a-coming-link::after {
  font-family: "Material Icons";
  font-weight: 700;
  position: absolute;
  top: 2px;
  content: "chevron_right";
  text-transform: none;
}

.a-coming-picture {
  max-width: 100%;
  height: auto;
  border: 0;
  margin-top: 8px;
  vertical-align: middle;
}

.a-coming-play {
  font-size: 50px;
  line-height: 75px !important;
  margin: auto;
  width: 80px;
  height: 80px;
  transition: all 300ms ease-in-out;
  text-align: center;
  text-indent: 14px;
  color: #fff;
  border: 2px solid #ec7532;
  border-radius: 50%;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  display: inline-flex;
  vertical-align: middle;
  margin-left: 8px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 225px;
}

.a-coming-slider {
  border-radius: 10px;
  width: 165px;
  height: 213.3px;
  border: 0;
  cursor: pointer;
  padding-left: 24px;
  padding-top: 5px;
  vertical-align: middle;
}

.a-coming-name {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
  color: #fff;
  border-bottom-color: #333;
  padding: 0;
  border-bottom: none;
  line-height: 1.4em;
  font-family: inherit;
  font-weight: 500;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.a-coming-release {
  font-size: 14px;
  opacity: 0.5;
  color: #fff;
  margin: auto;
  text-align: center;
}

.a-contact-head {
  display: none;
}

.a-contact-introduction {
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #4a4a4a;
}

.a-contact-phone {
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ec7532;
}

.a-footer-head {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ec7532;
  border: none;
  font-weight: 500;
  line-height: 1.4em;
  padding: 0 0 20px;
  font-family: inherit;
}

.a-footer-link {
  font-size: 13px;
  padding: 3px 0;
  letter-spacing: 1.5px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.a-footer-icon {
  display: inline-block;
  width: 25px;
  transition: all 300ms ease-in-out;
  transform: translateY(2px);
  color: rgba(255, 255, 255, 0.3);
  font: normal normal normal 14px/1 "FontAwesome";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

hr {
  color: #d8d8d8;
  opacity: 0.13;
  margin-left: 150px;
  margin-right: 170px;
  margin-bottom: 24px;
}

.a-footer-copyright {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  font-family: "roboto condensed", "sans-serif";
  margin-left: 150px;
}

.a-footer-copyright--link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  font-family: "roboto condensed", "sans-serif";
}

.a-footer-copyright--link:hover {
  color: #ec7532;
  text-decoration: none;
  outline: 0;
}
