.m-nav {
  display: flex;
}

.m-slider--carousel {
  display: flex;
  margin-top: 50px;
  margin-left: 6.5px;
}

.m-slider--carousel .a-slider-button {
  margin-left: 12px;
}

.m-categories {
  display: flex;
}

.m-categories .a-category {
  margin-left: 6px;
}

.m-bullets {
  display: flex;
}

.m-bullets .a-bullet {
  margin-left: 10px;
}

.m-stars {
  display: flex;
}

.m-stars li {
  margin-left: 4px;
  color: #fbbd61;
  display: inline-block;
}

.m-stars--new-in .a-star {
  font-size: 18px;
  width: 18px;
}

.m-stars--new-in .a-star--disvoted {
  color: #d8d8d8;
}

.m-schedule {
  display: flex;
}

.m-schedule article .m-categories {
  margin-left: 21px;
}

.m-schedule article .a-category--schedule {
  margin-left: 27px;
}

.m-schedule article .a-name--schedule {
  margin-left: 28px;
  margin-top: 2px;
}

.m-schedule article .a-description--schedule {
  margin-left: 27px;
  margin-top: -2px;
  margin-bottom: 23px;
}

.m-schedule article .a-link--schedule {
  margin-left: 28px;
}

.m-schedule article .m-container--schedule {
  display: flex;
  margin-left: 36px;
  margin-top: 33px;
}

.m-schedule article .m-container--schedule .a-schedule-subtitle {
  margin-left: -8px;
  margin-top: 10px;
}

.m-schedule article .m-container--schedule .a-schedule-subtitle .a-icon--clock {
  margin-top: 1px;
}

.m-schedule article .m-container--schedule .m-times {
  margin-left: 9px;
  margin-top: 2px;
}

.m-stars--coming .a-star:not(:first-child) {
  font-size: 14px;
  width: 14px;
}

.m-days {
  display: flex;
}

.m-times {
  display: flex;
}

.m-times li:not(:first-child) {
  margin-left: 9px;
}
