.o-navs {
  display: flex;
}

.o-stars {
  display: flex;
  margin-left: 77px;
  margin-top: 13px;
}

.o-stars .m-star {
  margin-left: 3px;
  color: #fbbd61;
  display: inline-block;
}

.o-stars .m-star .a-star {
  font-size: 18px;
  width: 18px;
}

.o-stars .m-star .a-star--disvoted {
  color: #d8d8d8;
}

.o-times {
  display: flex;
  margin-left: 9px;
}

.o-times .m-time:not(:first-child) {
  margin-left: 9px;
  margin-top: 2px;
}

.o-slider {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.o-slider--key-visual .m-slide {
  width: 100%;
  display: none;
}

.o-slider--key-visual .m-slide .m-categories {
  display: flex;
}

.o-slider--key-visual .m-slide .m-categories .a-category {
  margin-left: 5.6px;
}

.o-slider--key-visual .m-slide .a-title {
  font-size: 52px;
  font-weight: 300;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 3px;
  padding-left: 6px;
}

.o-slider--key-visual .m-slide .a-description {
  line-height: 22px;
  font-size: 18px;
  color: #fff;
  padding-left: 7px;
}

.o-slider--key-visual .m-slide .m-rated {
  display: flex;
  margin-top: 50px;
  margin-left: 6.5px;
}

.o-slider--key-visual .m-slide .m-rated .a-rate {
  font-size: 13px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  line-height: 48px;
  border: solid 2px #fff;
  width: 43px;
  height: 43px;
}

.o-slider--key-visual .m-slide .m-rated .a-button {
  margin-left: 12px;
}

.o-slider--key-visual .m-slide .m-rated .a-icon {
  font-family: "Material Icons";
  font-size: 24px;
  line-height: 1;
  color: #fff;
  display: inline-flex;
}

.o-slider--key-visual .m-slide--active {
  display: block;
}

.o-tabs {
  display: flex;
}

.o-schedule .a-title {
  margin-left: 6px;
}

.o-films {
  display: none;
}

.o-films .m-schedule .m-container {
  display: flex;
  margin-top: 32px;
}

.o-films .m-schedule .m-container .a-subtitle {
  display: flex;
  align-items: center;
  margin-top: 4px;
  padding-left: 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #4a4a4a;
  letter-spacing: 1.5px;
}

.o-films .m-schedule .m-container .a-subtitle .a-icon {
  margin-left: -5px;
  font-size: 13px;
  display: inline-flex;
  font-family: "Material Icons";
  line-height: 1;
}

.o-films .m-schedule .m-container-rating {
  display: flex;
  margin-left: 451px;
}

.o-films .m-schedule .m-container-rating .a-minutes {
  align-items: center;
  margin-top: 13px;
  margin-left: 2px;
}

.o-films .m-schedule .m-container-rating .a-rate {
  margin-left: 10px;
  margin-top: 1px;
  line-height: 33px;
  width: 33px;
  height: 33px;
  background: #4a4a4a;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-radius: 16px;
}

.o-films--active {
  display: block;
}

.o-slider--new-in .m-slide {
  width: 25%;
}

.o-slider--new-in .m-slide figure {
  margin-left: 29px;
  width: 263px;
}

.o-slider--new-in .m-slide .a-picture {
  width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease-in-out;
  border-radius: 7px;
}

.o-slider--new-in .m-slide .a-name {
  text-align: center;
  margin-top: 21px;
  font-family: inherit;
  line-height: 1.4em;
  font-size: 18px;
  color: #4a4a4a;
  font-weight: 500;
}

.o-slider--new-in .m-slide .m-stars {
  margin-left: 74px;
  margin-top: 13px;
}

.o-coming-list .m-coming-item {
  display: none;
}

.o-coming-list .m-coming-item .m-movie .m-picture {
  position: relative;
}

.o-coming-list .m-coming-item .m-movie .m-picture .a-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.o-coming-list .m-coming-item .m-movie .m-picture .a-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.o-coming-list .m-coming-item .m-movie .m-categories {
  display: flex;
}

.o-coming-list .m-coming-item .m-movie .m-categories .a-category {
  margin-left: 5px;
}

.o-coming-list .m-coming-item .m-movie .a-title {
  font-size: 34px;
  z-index: 1;
  color: #fff;
  border-bottom-color: #333;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4em;
  position: relative;
  margin-left: 5px;
  margin-top: 2px;
}

.o-coming-list .m-coming-item .m-movie .o-stars {
  display: flex;
  margin-left: 2.5px;
  margin-top: 6px;
}

.o-coming-list .m-coming-item .m-movie .o-stars .a-star {
  font-size: 14px;
  width: 14px;
}

.o-coming-list .m-coming-item .m-movie .o-stars .a-star--disvoted {
  color: #d8d8d8;
}

.o-coming-list .m-coming-item .m-movie .o-stars .m-date {
  margin-left: 15px;
  margin-top: -1px;
}

.o-coming-list .m-coming-item .m-movie .o-stars .m-date .a-icon {
  font-size: 14px;
  display: inline-flex;
  font-family: "Material Icons";
  line-height: 1;
}

.o-coming-list .m-coming-item .m-movie .a-description {
  color: #fff;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 23px;
}

.o-coming-list .m-coming-item .m-movie .a-link {
  font-size: 12px;
  position: relative;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ec7532;
  cursor: pointer;
}

.o-coming-list .m-coming-item--active {
  display: block;
}

.o-slider--coming .m-slide {
  width: 16.67%;
}

.o-slider--coming .m-slide .a-picture--specials {
  border-radius: 10px;
  display: block;
  width: 165px;
}

.o-slider--coming .m-slide .a-name--specials {
  font-size: 16px;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  margin-left: -27px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
  color: #fff;
  border-bottom-color: #333;
  line-height: 1.4em;
  position: relative;
  font-family: inherit;
  font-weight: 500;
}

.o-slider--coming .m-slide .a-date--coming {
  margin-left: 27px;
  margin-top: 5px;
}

.o-contact {
  text-align: center;
}

.o-contact .a-description {
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-size: 23px;
  font-weight: 300;
  color: #4a4a4a;
}

.o-contact .a-phone {
  margin-left: 1px;
}

.o-footer .a-title {
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  color: #ec7532;
  font-weight: 500;
  line-height: 1.4em;
  padding: 0 0 20px;
  font-family: inherit;
}

.o-footer--links .a-footer-link {
  display: block;
  padding-top: 7.1px;
}

.o-footer--links .a-footer-link i {
  padding-right: 20px;
}
