.m-nav {
  display: flex;
}

.m-categories {
  display: flex;
}

.m-categories li {
  padding-right: 6px;
}

.m-bullets {
  display: flex;
}

.m-bullets li {
  padding-right: 12px;
}

.m-stars {
  display: flex;
}

.m-stars li {
  padding-left: 3.5px;
  padding-top: 13px;
}

.m-dates {
  display: flex;
  padding-bottom: 5px;
}

.m-schedules {
  display: flex;
}

.m-schedules li {
  padding-right: 6px;
}

.m-times {
  display: flex;
}

.m-times li {
  padding-right: 8px;
}

.m-coming {
  display: flex;
}

.m-coming li {
  padding-right: 6px;
}

.m-footer li {
  padding-bottom: 8px;
}
