.m-nav {
  display: flex;
}

.m-bullets {
  display: flex;
}

.m-bullets .a-bullet {
  margin-left: 10px;
}

.m-stars {
  display: flex;
}

.m-stars li {
  margin-left: 4px;
  color: #fbbd61;
  display: inline-block;
}

.m-stars--new-in .a-star {
  font-size: 18px;
  width: 18px;
}

.m-stars--new-in .a-star--disvoted {
  color: #d8d8d8;
}

.m-schedule {
  position: relative;
  padding-left: 210px;
}

.m-schedule::after {
  display: block;
  content: "";
  clear: both;
}

.m-schedule .m-categories {
  display: flex;
}

.m-schedule .m-categories .a-category {
  margin-left: 5px;
}

.m-schedule .a-name {
  margin-left: 6px;
  margin-top: 2px;
  font-family: inherit;
  line-height: 1.4em;
  font-size: 24px;
  font-weight: 300;
  color: #101010;
  letter-spacing: 1px;
}

.m-schedule .a-picture--specials {
  width: 165px;
  padding-left: 15px;
  padding-right: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.m-schedule .a-description--specials {
  margin-top: 12px;
  margin-bottom: 26px;
  margin-left: 6px;
}

.m-schedule .a-link--specials {
  margin-left: 6px;
  color: #ec7532;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
}

.m-schedule .a-link--specials::after {
  font-family: "Material Icons";
  font-weight: 700;
  content: "";
}

.m-schedule .a-link--specials:hover {
  color: black;
}

.m-schedule .m-container--schedule {
  display: flex;
  margin-top: 32px;
}

.m-schedule .m-container--schedule .a-schedule-subtitle {
  display: flex;
  align-items: center;
  margin-top: 4px;
  padding-left: 15px;
}

.m-schedule .m-container--schedule .a-schedule-subtitle .a-icon--specials {
  margin-left: -5px;
  font-size: 13px;
  display: inline-flex;
  font-family: "Material Icons";
  line-height: 1;
}

.m-schedule .m-times {
  margin-left: 9px;
  margin-top: 2px;
}

.m-schedule .m-container--rating {
  display: flex;
  margin-left: 451px;
}

.m-schedule .m-container--rating .a-minutes {
  align-items: center;
  margin-top: 13px;
  margin-left: 2px;
}

.m-schedule .m-container--rating .a-rate {
  margin-left: 10px;
  margin-top: 1px;
  line-height: 33px;
  width: 33px;
  height: 33px;
  background: #4a4a4a;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-radius: 16px;
}

.m-slider--active {
  display: flex;
}

.m-times {
  display: flex;
}

.m-times li:not(:first-child) {
  margin-left: 9px;
}
