.o-carousel {
  display: none;
}

.o-carousel--active {
  display: block;
}

.o-schedule .a-title .a-title--slider {
  margin-left: 6px;
}

.o-schedule--movie {
  display: none;
}

.o-schedule--movie-active {
  display: block;
}

.o-slider--new-in {
  display: flex;
}

.o-slider--new-in li .m-new-in .a-picture--new {
  margin-left: 30px;
}

.o-slider--new-in li .m-new-in .a-name--new {
  text-align: center;
  margin-left: 30px;
  margin-top: 21px;
}

.o-slider--new-in li .m-new-in .m-stars--new-in {
  margin-left: 105px;
  margin-top: 13px;
}

.o-slider--coming {
  display: flex;
  margin-top: 67px;
}

.o-slider--coming .m-coming--slider {
  display: block;
}

.o-slider--coming .m-coming--slider .a-picture--slider {
  margin-left: 26px;
}

.o-slider--coming .m-coming--slider .a-name--coming {
  margin-left: 47px;
  margin-top: 18px;
}

.o-slider--coming .m-coming--slider .a-date--coming {
  margin-left: 50px;
  margin-top: 5px;
}

.o-slider--coming .m-coming--slider-active {
  display: none;
}

.o-contact {
  text-align: center;
}

.o-contact .a-description--contact {
  margin-bottom: 25px;
}

.o-contact .a-phone {
  margin-left: 1px;
}

.o-footer--links .a-footer-link {
  display: block;
  padding-top: 7.5px;
}
