.a-logo {
  width: auto;
  height: 100%;
}

.a-nav-link--active::after {
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: 0 0 10px 0 #fbbd61;
  position: absolute;
  height: 2px;
  width: 100%;
  right: 10px;
  top: 46.5px;
}

.a-nav-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 0.8em;
  letter-spacing: 3px;
  padding: 17.5px 24px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 0.5px solid grey;
  transition: all 300ms ease-in-out;
  background-color: transparent;
  position: relative;
}

.a-nav-link:hover::after {
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: 0 0 10px 0 #fbbd61;
  position: absolute;
  height: 2px;
  width: 100%;
  right: 10px;
  top: 46.5px;
}

.a-category {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ec7532;
  line-height: 1.42857143;
}

.a-button {
  font-size: 13px;
  font-weight: 400;
  border-radius: 30px;
  width: auto;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  padding: 12px 24px;
  display: flex;
  letter-spacing: 4px;
}

.a-play {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.42857143;
  text-align: center;
  padding-left: 6px;
  padding-top: 1.8px;
  font-family: "roboto condensed", "sans-serif";
  position: relative;
}

.a-bullet--active {
  background-color: #fff;
}

.a-bullet {
  display: inline-block;
  border: solid 2px #fff;
  width: 10px;
  height: 10px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.a-section-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #ec7532;
  line-height: 1.4em;
  padding: 0 0 17px;
  border-bottom: 1px solid #d8d8d8;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 1.7px;
}

.a-section-title::after {
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  height: 4px;
  width: 125px;
  display: block;
  position: relative;
  top: 19px;
}

.a-section-title--new::after {
  top: 18px;
}

.a-day {
  display: block;
  background-color: transparent;
  font-size: 18px;
  padding: 10px 30px 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #4a4a4a;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-bottom: 1px solid grey;
  position: relative;
  font-family: inherit;
}

.a-day::after {
  position: relative;
  bottom: -2px;
  left: 0;
  display: block;
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
}

.a-day:hover::after {
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  border-bottom: white solid 1px;
  position: absolute;
  bottom: -2px;
  display: block;
  width: 120px;
  height: 4px;
}

.a-day--active {
  color: #ec7532;
  position: relative;
}

.a-day--active::after {
  content: "";
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  border-bottom: white solid 1px;
  position: absolute;
  bottom: -2px;
  display: block;
  width: 120px;
  height: 4px;
}

.a-date {
  font-size: 14px;
  display: inline-block;
  opacity: 0.75;
  color: #fff;
}

.a-date--coming {
  text-align: center;
  opacity: 0.5;
}

.a-time {
  display: inline-block;
  letter-spacing: 2px;
  padding: 10px 10px;
  text-align: center;
  font-size: 14px;
  color: #717171;
  border-radius: 5px;
  background-color: #d8d8d8;
}

.a-time-disabled {
  opacity: 0.5;
}

.a-minutes {
  font-size: 12px;
  text-transform: uppercase;
  color: #717171;
  letter-spacing: 1.5px;
}

hr {
  background-color: #d8d8d8;
  opacity: 0.25;
}

.a-section-title--coming {
  color: #fff;
}

.a-head {
  display: none;
}

.a-phone {
  letter-spacing: 1px;
  font-size: 46px;
  font-weight: 400;
  color: #ec7532;
}

.a-footer-link {
  letter-spacing: 1.5px;
  font-size: 13px;
  padding: 3px 0;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background-color: transparent;
}

hr {
  color: #d8d8d8;
  opacity: 0.13;
}

.a-copyright {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  font-family: "roboto condensed", "sans-serif";
}

.a-copyright--link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background-color: transparent;
  font-family: "roboto condensed", "sans-serif";
}

.a-copyright--link:hover {
  color: #ec7532;
}
