.m-nav {
  display: flex;
}

.m-key-visual {
  display: none;
  .a-title {
    font-size: 52px;
    font-weight: 300;
    color: #fff;
    line-height: 1.4;
    letter-spacing: 3px;
    padding-left: 6px;
  }
  .a-description {
    line-height: 22px;
    font-size: 18px;
    color: #fff;
    padding-left: 7px;
  }
}

.m-key-visual--active {
  display: block;
}
.m-slider--carousel {
  display: flex;
  margin-top: 50px;
  margin-left: 6.5px;
  .a-rate {
    font-size: 13px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    line-height: 48px;
    border: solid 2px #fff;
    width: 43px;
    height: 43px;
  }
  .a-slider-button {
    margin-left: 12px;
  }
  .a-icon--specials {
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 1;
    color: #fff;
    display: inline-flex;
  }
}

.m-categories {
  display: flex;
  .a-category {
    margin-left: 5.6px;
  }
}

.m-bullets {
  display: flex;
  .a-bullet {
    margin-left: 10px;
  }
}

.m-stars {
  display: flex;
  li {
    margin-left: 4px;
    color: #fbbd61;
    display: inline-block;
  }
}

.m-stars--new-in {
  .a-star {
    font-size: 18px;
    width: 18px;
  }
  .a-star--disvoted {
    color: #d8d8d8;
  }
}

.m-schedule {
  // display: flex;
  // width: 165px;
  // height: 213.3px;
  position: relative;
  padding-left: 210px;
  &::after {
    display: block;
    content: "";
    clear: both;
  }
  .a-name {
    margin-left: 6px;
    margin-top: 2px;
    font-family: inherit;
    line-height: 1.4em;
    font-size: 24px;
    font-weight: 300;
    color: #101010;
    letter-spacing: 1px;
  }
  .a-picture--specials {
    width: 165px;
    padding-left: 15px;
    padding-right: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
  }
  .a-description--specials {
    margin-top: 12px;
    margin-bottom: 26px;
    margin-left: 6px;
  }
  .a-link {
    margin-left: 6px;
  }
  .m-container--schedule {
    display: flex;
    margin-top: 32px;
    .a-schedule-subtitle {
      display: flex;
      align-items: center;
      margin-top: 4px;
      padding-left: 15px;
      .a-icon--specials {
        margin-left: -5px;
        font-size: 13px;
        display: inline-flex;
        font-family: "Material Icons";
        line-height: 1;
      }
    }
  }
  .m-times {
    margin-left: 9px;
    margin-top: 2px;
  }
  .m-container--rating {
    display: flex;
    margin-left: 451px;
    .a-minutes {
      align-items: center;
      margin-top: 13px;
      margin-left: 2px;
    }
    .a-rate {
      margin-left: 10px;
      margin-top: 1px;
      line-height: 33px;
      width: 33px;
      height: 33px;
      background: #4a4a4a;
      font-size: 13px;
      display: inline-block;
      text-align: center;
      font-weight: bold;
      color: #fff;
      border-radius: 16px;
    }
  }
}

.m-stars--coming {
  display: flex;
  margin-left: 2.5px;
  margin-top: 6px;
  .a-star {
    font-size: 14px;
    width: 14px;
  }
  .a-star--disvoted {
    color: #d8d8d8;
  }
  .m-date {
    margin-left: 15px;
    margin-top: -1px;
    .a-icon--specials {
      font-size: 14px;
      display: inline-flex;
      font-family: "Material Icons";
      line-height: 1;
    }
  }
}

.m-slider {
  display: none;
  position: relative;
  .m-coming {
    display: flex;
  }
  .a-title {
    margin-left: 7px;
    font-size: 34px;
    color: #fff;
    border-bottom-color: #333;
    font-weight: 300;
    line-height: 1.4em;
    font-family: inherit;
    letter-spacing: 1px;
  }
  .a-description {
    margin-left: 6px;
    margin-top: 8px;
    margin-bottom: 68px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
  }
  .a-link--coming {
    margin-left: 7px;
  }
  .m-picture--coming {
    position: relative;
    margin-left: 100px;
    width: 555px;
    .a-icon--specials {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      text-align: center;
      font-size: 50px;
      line-height: 75px;
      width: 75px;
      height: 75px;
      transition: all 300ms ease-in-out;
      color: #fff;
      border: 2px solid #ec7532;
      border-radius: 50%;
      font-family: "Material Icons";
      cursor: pointer;
    }
  }
}

.m-slider--active {
  display: flex;
}

.m-days {
  display: flex;
}

.m-times {
  display: flex;
  li:not(:first-child) {
    margin-left: 9px;
  }
}
