.m-nav {
  display: flex;
}

.m-categories {
  display: flex;
  .a-category {
    margin-left: 6px;
  }
}

.m-bullets {
  display: flex;
  .a-bullet {
    margin-left: 10px;
  }
}

.m-stars {
  display: flex;
  li {
    margin-left: 4px;
    color: #fbbd61;
    display: inline-block;
  }
}

.m-stars--new-in {
  .a-star {
    font-size: 18px;
    width: 18px;
  }
  .a-star--disvoted {
    color: #d8d8d8;
  }
}

.m-stars--coming {
  .a-star:not(:first-child) {
    font-size: 14px;
    width: 14px;
  }
}

.m-days {
  display: flex;
}

.m-times {
  display: flex;
  li:not(:first-child) {
    margin-left: 9px;
  }
}
