.o-slider {
  display: flex;
  width: 100%;
}

.o-slider--key-visual {
  .m-slide {
    width: 100%;
    display: none;
    .m-categories {
      display: flex;
      .a-category {
        margin-left: 5.6px;
      }
    }
    .a-title {
      font-size: 52px;
      font-weight: 300;
      color: #fff;
      line-height: 1.4;
      letter-spacing: 3px;
      padding-left: 6px;
    }
    .a-description {
      line-height: 22px;
      font-size: 18px;
      color: #fff;
      padding-left: 7px;
    }
    .m-slider--carousel {
      display: flex;
      margin-top: 50px;
      margin-left: 6.5px;
      .a-rate {
        font-size: 13px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        color: #fff;
        border-radius: 50%;
        line-height: 48px;
        border: solid 2px #fff;
        width: 43px;
        height: 43px;
      }
      .a-slider-button {
        margin-left: 12px;
      }
      .a-icon--specials {
        font-family: "Material Icons";
        font-size: 24px;
        line-height: 1;
        color: #fff;
        display: inline-flex;
      }
    }
  }
  .m-slide--active {
    display: block;
  }
}

.o-tabs {
  display: flex;
}

.o-schedule {
  .a-title .a-title--slider {
    margin-left: 6px;
  }
}

.o-schedule-movies {
  display: none;
}

.o-schedule-movies--active {
  display: block;
}

.o-slider--new-in {
  .m-slide {
    width: 25%;
    figure {
      margin-left: 29px;
      width: 263px;
    }
    .a-picture--specials {
      width: 100%;
      height: auto;
      display: block;
      transition: 0.5s ease-in-out;
      border-radius: 7px;
    }
    .a-name--specials {
      text-align: center;
      margin-top: 21px;
      font-family: inherit;
      line-height: 1.4em;
      font-size: 18px;
      color: #4a4a4a;
      font-weight: 500;
    }
    .m-stars--new-in {
      margin-left: 74px;
      margin-top: 13px;
    }
  }
}

.o-coming-list {
  .m-coming-item {
    display: none;
    .m-movie {
      .m-categories {
        display: flex;
        .a-category {
          margin-left: 5px;
        }
      }
      .a-title {
        font-size: 34px;
        z-index: 1;
        color: #fff;
        border-bottom-color: #333;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.4em;
        position: relative;
        margin-left: 5px;
        margin-top: 2px;
      }
      .m-stars--coming {
        display: flex;
        margin-left: 2.5px;
        margin-top: 6px;
        .a-star {
          font-size: 14px;
          width: 14px;
        }
        .a-star--disvoted {
          color: #d8d8d8;
        }
        .m-date {
          margin-left: 15px;
          margin-top: -1px;
          .a-icon--specials {
            font-size: 14px;
            display: inline-flex;
            font-family: "Material Icons";
            line-height: 1;
          }
        }
      }
      .a-description {
        color: #fff;
        font-size: 16px;
        margin-left: 5px;
        margin-top: 23px;
      }
    }
  }
  .m-coming-item--active {
    display: block;
  }
}

.o-slider--coming {
  .m-slide {
    width: 16.67%;
    .a-picture--specials {
      border-radius: 10px;
      display: block;
      width: 165px;
    }
    .a-name--specials {
      font-size: 16px;
      overflow: hidden;
      width: 100%;
      margin-top: 20px;
      margin-left: -27px;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      z-index: 1;
      color: #fff;
      border-bottom-color: #333;
      line-height: 1.4em;
      position: relative;
      font-family: inherit;
      font-weight: 500;
    }
    .a-date--coming {
      margin-left: 27px;
      margin-top: 5px;
    }
  }
}

.o-contact {
  text-align: center;
  .a-description {
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 300;
    color: #4a4a4a;
  }
  .a-phone {
    margin-left: 1px;
  }
}

.o-footer {
  .a-title {
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ec7532;
    font-weight: 500;
    line-height: 1.4em;
    padding: 0 0 20px;
    font-family: inherit;
  }
}

.o-footer--links {
  .a-footer-link {
    display: block;
    padding-top: 7.1px;
    i {
      padding-right: 20px;
    }
  }
}
