.o-nav {
}

.o-carousel {
  display: none;
}

.o-carousel--active {
  display: block;
}

.o-schedule {
  .a-title .a-title--slider {
    margin-left: 6px;
  }
}

.o-schedule--movie {
  display: none;
}

.o-schedule--movie-active {
  display: block;
}

.o-slider {
}

.o-slider--new-in {
  display: flex;
  li {
    .m-new-in {
      .a-picture--new {
        margin-left: 30px;
      }
      .a-name--new {
        text-align: center;
        margin-left: 30px;
        margin-top: 21px;
      }
      .m-stars--new-in {
        margin-left: 105px;
        margin-top: 13px;
      }
    }
  }
}

.o-slider--coming {
  display: flex;
  margin-top: 67px;
  .m-coming--slider {
    display: block;
    .a-picture--slider {
      margin-left: 26px;
    }
    .a-name--coming {
      margin-left: 47px;
      margin-top: 18px;
    }
    .a-date--coming {
      margin-left: 50px;
      margin-top: 5px;
    }
  }
  .m-coming--slider-active {
    display: none;
  }
}

.o-coming {
}

.o-contact {
  text-align: center;
  .a-description--contact {
    margin-bottom: 25px;
  }
  .a-phone {
    margin-left: 1px;
  }
}

.o-footer {
  .m-footer {
    .a-footer-link {
      display: block;
      padding-top: 7.5px;
    }
  }
}
