.t-header {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.t-section--key-visual {
  margin-top: 60px;
  overflow: hidden;
}

.t-section--new-in {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 140px;
  width: 1170px;
  margin: auto;
  header {
    margin-bottom: 50px;
  }
}

.t-section--schedule {
  background-color: white;
  padding-bottom: 60px;
  width: 1170px;
  margin: auto;
}

.t-section--coming {
  padding-top: 60px;
  background-color: black;
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
  overflow: hidden;
  .a-section-title--coming {
    width: 1170px;
    margin: auto;
    margin-bottom: 100px;
  }
}

.t-section--contact {
  text-align: center;
  background-color: white;
  padding-top: 15px;
  margin-top: 36px;
  padding-bottom: 50px;
  .a-description {
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 300;
    color: #4a4a4a;
  }
  .a-phone {
    // margin-left: 1px;
  }
}

.t-footer {
  background-color: black;
  padding-top: 1px;
  width: 100%;
  div {
    width: 1170px;
    margin: auto;
    display: flex;
    align-items: center;
    // margin-left: 150px;
    margin-top: 55px;
    .o-footer {
      width: 25%;
    }
  }
}
