.t-header {
  margin-left: 188px;
  margin-top: 49px;
  display: flex;
  nav {
    margin-left: 280px;
    margin-top: 5px;
  }
}

.t-section--carousel {
  background: url("../img/hero-1.jpg") no-repeat center center fixed;
  background-size: cover;
  margin-left: 205px;
  margin-top: 144px;
  margin-bottom: 85px;
}

.t-section--new-in {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 140px;
  header {
    margin-left: 197px;
    margin-bottom: 50px;
    margin-right: 205px;
  }
}

.t-section--schedule {
  background-color: white;
  padding-bottom: 60px;
}

.t-section--coming {
  margin-top: 70px;
  header {
    margin-left: 189px;
    margin-right: 180px;
  }
}

.t-footer {
  div {
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-top: 55px;
    .o-footer {
      width: 25%;
    }
  }
}
