.o-telephone {
  display: flex;
  position: absolute;
  right: 118px;
  bottom: 72px;
  .m-phone a {
    font-size: 14px;
    font-family: "roboto condensed", sans-serif;
    color: white;
    font-weight: 700;
    .a-icon-phone {
      color: #fff;
      font-size: 17px;
    }
  }
  .m-search {
    .a-icon-search {
      color: #fff;
      font-size: 17px;
    }
  }
}

.o-navs {
  display: flex;
}

.o-times {
  display: flex;
  margin-left: 9px;
  margin-top: -5px;
  .m-time {
    margin-top: 2px;
  }
  .m-time:not(:first-child) {
    margin-left: 9px;
    margin-top: 2px;
  }
}

.o-slider--key-visual {
  display: flex;
  .m-slide {
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    .m-key-visual-article {
      .m-categories {
        display: flex;
        .a-category {
          margin-left: 5.6px;
          color: #fbbd61;
        }
      }
      .a-title {
        font-size: 52px;
        font-weight: 300;
        color: #fff;
        line-height: 1.4;
        letter-spacing: 3px;
        padding-left: 6px;
      }
      .a-description {
        line-height: 26px;
        font-size: 18px;
        color: #fff;
        padding-right: 336px;
        margin-top: 11px;
        width: 825px;
        position: relative;
        top: 53px;
        left: 33px;
      }
      .m-rated {
        display: flex;
        margin-top: 29px;
        margin-bottom: 171px;
        position: relative;
        top: 46px;
        left: 34px;
        .a-rate {
          display: inline-block;
          transform: translateY(2px);
          font-size: 13px;
          text-align: center;
          font-weight: 700;
          color: #fff;
          border-radius: 50%;
          line-height: 48px;
          border: solid 2px #fff;
          width: 45px;
          height: 45px;
          position: relative;
          bottom: 2px;
          left: 3px;
        }
        .a-button {
          margin-left: 16px;
          cursor: pointer;
        }
        .a-icon {
          font-family: "Material Icons";
          font-size: 24px;
          line-height: 1;
          color: #fff;
          display: inline-flex;
        }
      }
    }
  }
}

.o-tabs {
  display: flex;
}

.o-schedule {
  .a-title {
    // margin-left: 6px;
  }
}

.o-films {
  display: none;
  margin-top: 50px;
  .m-schedule {
    margin-bottom: 30px;
    .a-category {
      // margin-left: 1px;
    }
    .m-container {
      display: flex;
      margin-top: 32px;
      .a-subtitle {
        display: flex;
        align-items: center;
        margin-top: 3px;
        padding-left: 9px;
        font-size: 12px;
        text-transform: uppercase;
        color: #4a4a4a;
        letter-spacing: 1.5px;
        .a-icon {
          margin-left: -5px;
          font-size: 13px;
          display: inline-flex;
          font-family: "Material Icons";
          line-height: 1;
        }
      }
    }
    .m-container-rating {
      display: flex;
      margin-left: 451px;
      margin-top: -4px;
      .a-minutes {
        align-items: center;
        margin-top: 13px;
        margin-left: 2px;
      }
      .a-rate {
        margin-left: 10px;
        margin-top: 1px;
        line-height: 33px;
        width: 33px;
        height: 33px;
        background: #4a4a4a;
        font-size: 13px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        color: #fff;
        border-radius: 16px;
      }
    }
  }
}

.o-films--active {
  display: block;
}
.o-slider-container {
  overflow: hidden;
  margin-right: 115px;
  position: relative;
  bottom: 9px;
  right: 2px;
  .o-slider--new-in {
    display: flex;
    .m-slide {
      flex-basis: 25%;
      flex-shrink: 0;
      flex-grow: 0;
      padding: 0 15px;
      .a-picture {
        height: auto;
        display: block;
        transition: 0.5s ease-in-out;
        border-radius: 7px;
      }
      figcaption {
        .o-stars {
          display: flex;
          position: relative;
          left: 79px;
          text-align: center;
          margin: 14px 0;
          width: 18px;
          .m-star {
            margin-left: 3px;
            color: #fbbd61;
            display: inline-block;
            width: 100%;
            .a-star {
              font-size: 18px;
              width: 100%;
            }
            .a-star--disvoted {
              color: #d8d8d8;
            }
          }
        }
      }
      .a-name {
        text-align: center;
        margin-top: 21px;
        font-family: inherit;
        line-height: 1.4em;
        font-size: 18px;
        color: #4a4a4a;
        font-weight: 500;
      }
      .m-stars {
        // margin-left: 74px;
        margin-top: 13px;
      }
    }
    // .m-slide--active {
    //   display: block;
    // }
  }
}

.o-coming-list {
  display: flex;
  width: 1170px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 200px;
  .m-coming-item {
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    .m-movie {
      .m-picture {
        position: relative;
        .a-picture {
          position: absolute;
          top: 50%;
          left: 90%;
          transform: translate(-50%, -50%);
        }
        .a-icon {
          position: absolute;
          top: 50%;
          left: 90%;
          transform: translate(-50%, -50%);
          font-size: 50px;
          line-height: 80px;
          width: 80px;
          height: 80px;
          transition: all 300ms ease-in-out;
          text-align: center;
          color: #fff;
          border: 2px solid #ec7532;
          border-radius: 50px;
        }
      }
      .m-categories {
        display: flex;
        .a-category {
          // margin-left: 5px;
        }
      }
      .a-title {
        font-size: 34px;
        z-index: 1;
        color: #fff;
        border-bottom-color: #333;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.4em;
        position: relative;
        // margin-left: 5px;
        margin-top: 2px;
      }
      .o-stars {
        display: flex;
        // margin-left: 2.5px;
        margin-top: 6px;
        .m-star {
          // margin-left: 3px;
          color: #fbbd61;
          display: inline-block;
          // width: 100%;
          .a-star {
            font-size: 14px;
            width: 14px;
          }
          .a-star--disvoted {
            color: #d8d8d8;
          }
        }
        .m-date {
          // margin-left: 15px;
          margin-top: -1px;
          .a-icon {
            font-size: 14px;
            display: inline-flex;
            font-family: "Material Icons";
            line-height: 1;
          }
        }
      }
      .a-description {
        color: #fff;
        font-size: 16px;
        // margin-left: 5px;
        margin-top: 23px;
        margin-bottom: 10px;
      }
      .a-link {
        font-size: 12px;
        position: relative;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #ec7532;
        cursor: pointer;
      }
    }
  }
}

.o-slider--coming {
  display: flex;
  padding-bottom: 10px;
  width: 1170px;
  margin: auto;
  overflow: hidden;
  justify-content: space-between;
  .m-slide {
    cursor: pointer;
    flex-basis: 20%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 15px;
    .a-picture {
      border-radius: 10px;
      display: block;
      width: 165px;
      // margin-left: 10px;
    }
    .a-name {
      font-size: 16px;
      overflow: hidden;
      width: 100%;
      margin-top: 20px;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      z-index: 1;
      color: #fff;
      border-bottom-color: #333;
      line-height: 1.4em;
      position: relative;
      font-family: inherit;
      font-weight: 500;
      right: 40px;
    }
    .a-date {
      margin-top: 5px;
      position: relative;
      left: 40px;
    }
  }
}

.o-footer {
  .a-title {
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ec7532;
    font-weight: 500;
    line-height: 1.4em;
    padding: 0 0 20px;
    font-family: inherit;
  }
}

.o-links {
  .a-link {
    display: block;
    padding-top: 7.1px;
    i {
      padding-right: 20px;
    }
  }
}
