.m-nav {
  display: flex;
}

.m-slider {
}

.m-slider--carousel {
  display: flex;
  margin-top: 50px;
  margin-left: 6.5px;
  .a-slider-button {
    margin-left: 12px;
  }
}

.m-categories {
  display: flex;
  .a-category {
    margin-left: 6px;
  }
}

.m-bullets {
  display: flex;
  .a-bullet {
    margin-left: 10px;
  }
}

.m-stars {
  display: flex;
  li {
    margin-left: 4px;
    color: #fbbd61;
    display: inline-block;
  }
}

.m-stars--new-in {
  .a-star {
    font-size: 18px;
    width: 18px;
  }
  .a-star--disvoted {
    color: #d8d8d8;
  }
}

.m-schedule {
  display: flex;
  article {
    .m-categories {
      margin-left: 21px;
    }
    .a-category--schedule {
      margin-left: 27px;
    }
    .a-name--schedule {
      margin-left: 28px;
      margin-top: 2px;
    }
    .a-description--schedule {
      margin-left: 27px;
      margin-top: -2px;
      margin-bottom: 23px;
    }
    .a-link--schedule {
      margin-left: 28px;
    }
    .m-container--schedule {
      display: flex;
      margin-left: 36px;
      margin-top: 33px;
      .a-schedule-subtitle {
        margin-left: -8px;
        margin-top: 10px;
        .a-icon--clock {
          margin-top: 1px;
        }
      }
      .m-times {
        margin-left: 9px;
        margin-top: 2px;
      }
      .m-container--rating {
        margin-left: 451px;
        .a-rate--schedule {
          margin-left: 6px;
        }
      }
    }
  }
}

.m-stars--coming {
  display: flex;
  margin-left: 2.5px;
  margin-top: 6px;
  .a-star {
    font-size: 14px;
    width: 14px;
  }
  .a-star--disvoted {
    color: #d8d8d8;
  }
  .m-date {
    margin-left: 15px;
    margin-top: -3px;
  }
}

.m-coming {
}

.m-coming--movie {
  display: none;
  position: relative;
  .a-title--coming {
    margin-left: 7px;
  }
  .a-description--coming {
    margin-left: 6px;
    margin-top: 8px;
    margin-bottom: 68px;
  }
  .a-link--coming {
    margin-left: 7px;
  }
  .m-picture--coming {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    .a-picture--coming {
      margin-left: 225px;
    }
    .a-icon--coming {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: 110px;
      margin-top: 1px;
    }
  }
}

.m-coming--movie-active {
  display: block;
  position: relative;
  .a-title--coming {
    margin-left: 7px;
  }
  .a-description--coming {
    margin-left: 6px;
    margin-top: 8px;
    margin-bottom: 68px;
  }
  .a-link--coming {
    margin-left: 7px;
  }
  .m-picture--coming {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    .a-picture--coming {
      margin-left: 225px;
    }
    .a-icon--coming {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: 110px;
      margin-top: 1px;
    }
  }
}

.m-days {
  display: flex;
}

.m-times {
  display: flex;
  li:not(:first-child) {
    margin-left: 9px;
  }
}
